body {
  background: no-repeat url('../imgs/sky.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 10px 8px;
  background: transparent;
  color: black;
}

.search-bar::placeholder {
  color: black;
}
